.navbar-glass {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 92%;
  height: 60px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 30px;
  border-radius: 16px;

  background: rgba(15, 23, 42, 0.6);
  backdrop-filter: blur(14px);
  box-shadow: 0 10px 30px rgba(0,0,0,0.4);

  z-index: 100;
  color: white;
}

.nav-right a {
  margin-left: 20px;
  text-decoration: none;
  color: white;
  font-weight: 500;
}
